@use "partials/mixins.scss" as *;
@use "partials/variables.scss" as *;


.nav-bar{
    @include space-between;
    section{
        > ul{
            display: flex;
            list-style: none;
            > li{
                padding: 20px;
                > a{
                    text-decoration: none;
                }
            }
        }
    }
}
