@use "partials/mixins.scss" as *;
@use "partials/variables.scss" as *;


.container{
    @include myContainer
}
.my-main{
    background-color: $primary-color;
    
    > .container{
        
        > h1{
            color: $secondary-color;
            padding: 40px;
        }
    }
    
}

