@use "partials/mixins.scss" as *;
@use "partials/variables.scss" as *;


.container{
    @include myContainer
}
.my-main{
    background-color: $primary-color;
    
    .jumbotron{
        background-image: url('../../../public/img/jumbotron.jpg');
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        

        .generalButton{
            @include myButton;
            position: absolute;
            bottom: -20px;
            
        }
    }
    > .container{
        
        > p{
            color: $secondary-color;
            padding: 40px;
        }
    }
    
}


.my-main-2{
    background-color: $terziary-color;
    > .container{

        > .row{
            display: flex;
            > .col-1-5{
                width: calc(100% / 5);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;

                img{
                    height: 40%;
                    padding: 20px;
                }
            }   

            
        }
    }
}